/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General*/
body{
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, p, span{
    color: $secundary_color;
    padding-top: 15px;
    font-weight: bolder;
}
hr{
    color: $secundary_color;
}
button{
    @include button_style;
}
li{
    @include li_style;
}
a{
    @include link_style;
}

/*Containers*/
.narrow-container {
    max-width: 1200px;
    margin: auto;
    padding: $default_spacing;;
    .relevant-text-container, .small-imgs-container, .rubbit-img-container{
        padding: 40px 0;
    }
}
.buttons-container{
    @include flex_row;
    align-items: baseline;
    margin-top: 40px;
}
.relevant-text-container{
    @include flex_row;
    justify-content: center;
}
.white-container{/*Da rivedere*/
    background-color: $bg_white;
    
}



