main{
    background-color: $primary_color;
}

/*Introduction*/
.rubbit-img-container{
    @include flex_row;
    justify-content: center;
    img{
        width: 300px;
    }

}
.small-imgs-container{
    @include flex_row;
    align-items: baseline;
    justify-content: space-evenly;
    img{
        width: 120px;
    }
        .small-img-with-text{
            @include flex_column;
            justify-content: center;
            align-items: center;
            
            #special-img{
                width: 50px;
            }
        }
}

/*Services*/
.service-container{
    @include flex_row;
    justify-content: center;
    align-items: center;
    padding: $default_spacing;
    .container-service-info{
        @include flex_column;
    }
    img{
        width: 50%;
    }
}

/*Get Started*/
.get-started-content{
    @include flex_column;
    justify-content: center;
    align-items: center;
    padding: $default_spacing;
}
.join-us-container{
    max-width: 900px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0;
}
.co-founders-container{
    @include flex_row;
    align-items: center;
    margin-top: 15px;
    img{
        width: 50px;
        margin: 0 15px;
    }
    .co-founders-info-container{
        @include flex_column;
        *{
            padding-top: 0;
        }
    }
}
