@mixin flex_row {
    display: flex;
    flex-direction: row;
    
}
@mixin flex_column {
    display: flex;
    flex-direction: column;
}

@mixin button_style {
    @include flex_row;
    align-items: center;
    border-radius: 5px;
    margin: 0 5px;
    color: white;
    background-color: $button_color;
    padding: 5px;
    cursor: pointer;
        img{
            width: 20px;
            padding-right: 5px;
        }
}

@mixin li_style {
    color: $secundary_color;
    list-style-type: none;
    cursor: pointer;
}

@mixin link_style {
    text-decoration: none;
    color: $button_color;  
    cursor: pointer;  
}